* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body.oh {
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 152px;
    display: flex;
    align-items: center;
    z-index: 1;
}

header.black {
    background: #373434;
    position: initial;
}

.wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .burger {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
}

header .call {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

header .call img {
    margin-right: 14px;
}

.logo_text {
    font-family: 'RF Dewi';
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    margin-left: 20px;
}

.main_first {
    display: flex;
    align-items: flex-end;
    padding-bottom: 124px;
    position: relative;
    height: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.main_first::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #373434 0%, rgba(72, 72, 74, 0.3) 22.07%, rgba(72, 72, 74, 0.3) 70.9%, #373434 100%);
    pointer-events: none;
}

.main_slider_item {
    display: flex;
    align-items: flex-start;
}

.main_slider .swiper-button-next,
.main_slider .swiper-button-prev {
    display: none;
}

.main_slider_counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 68px;
    height: 53px;
    margin-right: 32px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'RF Dewi';
    font-size: 13px;
}

.main_slider_object,
.main_slider_customer,
.main_slider_role {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.main_slider_customer {
    margin: 0 auto;
}

.main_slider_role {
    margin-left: auto;
}

.main_slider_item .title {
    font-family: 'RF Dewi';
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 8px;
    font-size: 13px;
}

.main_slider_item .content {
    font-weight: 600;
    font-size: 17px;
}

footer {
    padding: 40px 0;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
}

footer a {
    color: #fff;
}

footer p {
    margin-bottom: 21px;
}

.footer_top {
    margin-bottom: 40px;
}

.footer_top,
.footer_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_left,
.footer_center,
.footer_right {
    display: flex;
    flex-direction: column;
}

.footer_center a {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.footer_center a img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer_left {
    max-width: 250px;
}

.footer_center {
    max-width: 200px;
}

.footer_right {
    max-width: 600px;
}

.footer_bottom .footer_right {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.footer_bottom .footer_right span {
    max-width: 300px;
}

.main_menu {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 84px;
    padding-bottom: 43px;
    transition: all 0.3s ease;
    z-index: 10;
    min-height: 740px;
    overflow: hidden;
}



.main_menu.active {
    transform: translateY(0);
}

.main_menu .wrapper {
    position: relative;
    padding-right: 5%;
}

.main_menu .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.main_menu_top {
    display: flex;
    justify-content: space-between;
}

.main_menu_top_contacts {
    display: flex;
    flex-direction: column;
    color: #373434;
    text-align: right;
    z-index: 11;
}

.main_menu_top_contacts>a {
    font-family: 'RF Dewi';
    font-size: 24px;
    color: #373434;
    margin-bottom: 15px;
}

.main_menu_top_contacts a {
    color: #373434;
}

.main_menu_top_contacts span {
    margin-bottom: 10px;
}

.main_menu_top h3 {
    font-size: 32px;
    color: #373434;
    font-weight: 400;
    font-family: 'RF Dewi';
    text-transform: uppercase;
    transition: .3s;
}

.main_menu_top h3.hidden {
    opacity: 0;
}






.main_menu_list {
    display: flex;
    justify-content: space-between;
}

.main_menu_list>li {
    flex: auto;
    width: 100%;
}

.main_menu_list>li>a {
    display: block;
    padding-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    background: url(../img/menu_line.svg) no-repeat bottom left;
    color: #373434;
    font-size: 20px;
    font-family: 'RF Dewi';
}

.main_menu_list li ul a {
    color: #373434;
    font-size: 13px;
    display: block;
    padding: 15px 0;
}

.main_menu_list a:hover {
    color: #BCBEC0;
}

.main_menu_body {
    transition: .3s;
}

.main_menu_body.hidden {
    opacity: 0;
}

.objects {
    padding-top: 8px;
}

.objects .wrapper {
    min-height: 80vh;
}

.objects_menu {
    width: 100%;
    max-width: 300px;
    background: #fff;
}

.objects_menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    color: #373434;
    font-family: 'RF Dewi';
    font-size: 13px;
}

.objects_menu li.active a,
.objects_menu li:hover a {
    background: #BCBEC0;
}

.objects_menu li a::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/objects_arrow.svg') no-repeat center center /contain;
}

.objects_info .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.objects_info_item {
    width: 31.3%;
    margin: 0 1%;
    padding: 16px 0;
    color: #373434;
    font-size: 15px;
}

.objects_info_item h4 {
    display: block;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'RF Dewi';
}

.objects_info_item span {
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
}

.cart_slider {
    overflow: hidden;
}

.cart_slider_item {
    min-height: 825px;
    padding-top: 62px;
}

.cart_slider_item_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_slider_item_head h4 {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'RF Dewi';
}

.cart_slider_item_back {
    display: block;
    width: 28px;
    height: 28px;
    background: url('../img/cart_close.svg') no-repeat center center /contain;
    transition: all 0.3s ease;
}

.cart_slider_item_back:hover {
    transform: rotate(-45deg);
}

.cart_content_head {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}

.cart_content_head_item {
    max-width: 300px;
}

.cart_content_head_item span {
    display: block;
    margin-bottom: 8px;
    color: #BCBEC0;
    font-size: 13px;
    font-family: 'RF Dewi';
    font-weight: 400;
}

.cart_content_head_item h4 {
    color: #373434;
    font-size: 17px;
    font-weight: 600;
}

.cart_content_mdesk {
    padding-top: 56px;
    color: #373434;
    font-size: 20px;
}

.cart_content_mdesk h3 {
    font-weight: 400;
    font-family: 'RF Dewi';
}

.cart_content_desk {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 40px;
}

.cart_content_image {
    width: 64%;
    height: 366px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart_content_desk_inner {
    width: 34%;
    color: #373434;
    font-size: 13px;
    font-weight: 400;
}

.objects_mobile_tabulator {
    display: none;
}

@media(max-width: 1200px) {
    .wrapper {
        width: 96%;
    }

    .footer_right {
        max-width: 320px;
    }

    .main_slider_counter {
        display: none;
    }
}

@media(max-width: 900px) {
    footer {
        font-size: 12px;
    }

    .footer_left,
    .footer_center,
    .footer_right {
        max-width: 31%;
    }

    .main_slider_object,
    .main_slider_customer,
    .main_slider_role {
        font-size: 13px;
        max-width: 31%;
    }

    .main_slider_item .content {
        font-size: 13px;
    }

    .logo {
        max-width: 235px;
    }

    .logo img {
        width: 100%;
    }

    .logo_text {
        font-size: 13px;
        line-height: 21px;
    }

    header .call {
        order: 1;
        font-size: 0;
    }

    header .burger {
        order: 2;
        width: 40px;
        height: 40px;
        ;
    }

    header .burger img {
        width: 50%;
    }

    .cart_content_image,
    .cart_content_desk_inner {
        width: 49%;
    }

    .cart_content_image {
        height: 280px;
    }
}

@media(max-width: 768px) {
    .main_menu_top_contacts {
        display: none;
    }

    .main_menu_list li ul {
        display: none;
    }

    .main_menu_list {
        flex-direction: column;
    }

    .main_menu_top {
        padding-bottom: 35px;
    }

    .main_menu_list>li>a {
        background: url(../img/mobile_line.svg) no-repeat top left;
        padding-left: 20px;
    }

    .objects_mobile_tabulator {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #373434;
        padding: 16px 0;
    }

    .objects_mobile_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #5F5D5D;
        height: 40px;
        width: 40%;
        color: #9F9E9E;
        font-size: 13px;
    }

    .objects_mobile_tab.active {
        color: #fff;
    }

    .objects_mobile_tab:first-child {
        border-radius: 100px 0 0 100px;
    }

    .objects_mobile_tab:last-child {
        border-radius: 0 100px 100px 0;
    }

    .objects_menu {
        display: none;
    }

    .objects {
        display: none;
    }

    .objects_info {
        display: none;
    }

    .objects.active {
        display: flex;
    }

    .objects_info.active {
        display: flex;
    }

    .objects_info_item {
        width: 100%;
    }
}

@media(max-width: 720px) {

    .footer_top,
    .footer_bottom {
        flex-direction: column;
    }

    .footer_left,
    .footer_center,
    .footer_right {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }

    .logo_text {
        display: none;
    }

    .cart_content_head {
        flex-wrap: wrap;
    }

    .cart_content_head_item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }

    .cart_content_mdesk {
        padding-top: 10px;
        font-size: 14px;
    }

    .cart_content_head_item h4 {
        font-size: 14px;
    }

    .cart_content_desk {
        flex-direction: column;
    }

    .cart_content_image,
    .cart_content_desk_inner {
        width: 100%;
    }

    .cart_content_image {
        margin-bottom: 20px;
    }
}



.about,
.services {
    min-height: 100vh;
    min-height: 100dvh;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(180deg, #373434 0%, rgba(55, 52, 52, 0.00) 50.89%, rgba(55, 52, 52, 0.00) 51.11%, #373434 100%); */
}

.services {
    padding-bottom: 50px;
}

.about__flex {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 210px);
}

.section__suptitle {
    color: #BCBEC0;
    font-family: 'RF Dewi';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
}

.section__title {
    color: #FFF;
    font-family: 'RF Dewi';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.4px;
    line-height: 38px;
    font-size: 32px;
    text-transform: uppercase;
}

.about__title {
    font-size: 48px;
    line-height: 64px;
    max-width: 1000px;
}

.about__nav-wrap {
    margin-top: auto;
}

.about__nav .back {
    display: none;
}

.about__nav.scroll .more {
    display: none;
}

.about__nav.scroll .back {
    display: block;
}


.about__nav.scroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    padding: 35px 0;
    background-color: #383535;
    /* padding: 25px 0; */
}


.about__nav {
    display: flex;
    gap: 25px 50px;
    margin-top: auto;
    padding: 78px 0;
    transition: padding-top .3s;
}

.about__nav.scroll {
    padding-right: 2%;
}

.about__nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__nav li a {
    color: #FFF;
    font-family: 'RF Dewi';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    opacity: 0.4;
    transition: .3s;
    display: block;
}

.about__nav li a:hover {
    opacity: 1;
}

.about__nav li.active a {
    opacity: 1;
}

.about__nav li:first-of-type a {
    position: relative;
    padding-left: 84px;
}


.about__nav li:first-of-type a::before {
    content: '';
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(8px);
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.about__nav li:first-of-type a.back::before {
    transform: rotate(180deg)  translateY(50%);
}

.history__wrap {
    min-height: 780px;
    padding-top: 115px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background: linear-gradient(180deg, #373434 0%, rgba(55, 52, 52, 0.00) 50.89%, rgba(55, 52, 52, 0.00) 51.11%, #373434 100%);
}

.history__title {
    margin-bottom: 125px;
}

.history__items {
    display: flex;
}

.history__item-wrap {
    width: 25%;
}

.history__item {
    display: flex;
    flex-direction: column;
    height: 100%;
}



.history__item-year {
    color: #FFF;
    font-family: 'RF Dewi';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.history__item-year::after {
    content: '';
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -6.5px;
    left: -11px;
    background-color: #484749;
}

.history__item-title {
    color: #BCBEC0;
    font-family: 'RF Dewi';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 16px;
    max-width: 260px;
    min-height: 42px;
    padding-right: 16px;
}

.history__item-text {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    max-width: 260px;
    padding-right: 16px;
}

.license {
    padding: 88px 0;
    background-color: #373434;
}

.license__flex {
    display: flex;
    align-items: center;
}

.license__content {
    max-width: 385px;
    width: 100%;
    margin-right: 24px;
}

.license__title {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 44px;
}

.license__text {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.license__gallery {
    display: flex;
}

.license__gallery img {
    width: 100%;
}

.gallery__item {
    width: 33.3333%;
    padding: 8px;
}

.gallery__img {
    cursor: zoom-in;
}

.principle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(180deg, #373434 0%, rgba(55, 52, 52, 0) 50.89%, rgba(55, 52, 52, 0) 51.11%, #373434 100%),
        linear-gradient(0deg, #373434, #373434);

    /* background: linear-gradient(180deg, #373434 0%, rgba(55, 52, 52, 0.00) 50.89%, rgba(55, 52, 52, 0.00) 51.11%, #373434 100%); */
    padding-top: 40px;
    padding-bottom: 56px;
}

.principle__title {
    margin-bottom: 100px;
}

.principle__items {
    display: flex;
    flex-direction: column;
}

.principle__item {
    padding-left: 210px;
    position: relative;
}

.principle__item:not(:last-child) {
    padding-bottom: 34px;
}


.principle__item:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 1px;
    background-color: #fff;
    opacity: 0.6;
    left: 28px;
    z-index: 0;
}

.principle__item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.prinicple__item-box {}

.principle__item-title {
    color: #FFF;
    font-family: 'RF Dewi';
    padding: 14px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.principle__item-text {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 16px 0;
    max-width: 780px;
}

.partners {
    background-color: #383535;
    padding: 50px 0;
}

.partners__title {
    margin-bottom: 50px;
}
.partners__flex {
    display: flex;
    flex-wrap: wrap;
}
.parnters__item {
    width: 50%;
    padding: 56px 32px;
    border-bottom: 1px solid #888787;
}

.parnters__item:nth-child(odd) {
    border-right: 1px solid #888787;
}

.partners__item-suptitle {
    color: #BCBEC0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-family: 'RF Dewi';
    margin-bottom: 16px;
}
.partners__item-title {
    font-family: 'RF Dewi';
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    letter-spacing: 1.92px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.partners__item-link a {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration-line: underline;
}
.partrens__item-text {
    margin-top: 32px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}

.team {
    background-color: #373434;
    padding: 40px 0;
}

.team__title {
    margin-bottom: 100px;
}
.team__flex {
    display: flex;
    flex-wrap: wrap;
}
.team__item {
    width: 50%;
    padding: 40px 16px;
    border-bottom: 1px solid #888787;
    display: flex;
}

.team__item:nth-child(odd) {
    border-right: 1px solid #888787;
}
.team__item-img {
    margin-right: 24px;
}
.team__item-content {
}
.team__item-suptitle {
    color: #BCBEC0;
    font-family: 'RF Dewi';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    margin-bottom: 8px;
}
.team__item-title {
    color: #FFF;
    font-family: 'RF Dewi';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    letter-spacing: 1.92px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.team__item-subtitle {
    color: #BCBEC0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 16px;
}
.team__item-text {
    color:  #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.team__form {
    padding-top: 48px;
}
.team__form-title {
    text-align: center;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 40px;
}
.team__form-flex {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}
.team__form-column {
   padding: 16px;
   width: 33.3333%;
}
.team__form-field input,
.form__field input {
    padding: 16px;
    background-color: #FFF;
    border-radius: 2px;
    display: block;
    width: 100%;
    color: #000;
    border: 0;
}

.form__field input {
    background-color: #F2F2F2;
}

.team__form-field:not(:last-child),
.form__field:not(:last-child) {
    margin-bottom: 16px;
}

.team__form-field input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.load__file {
    height: 47px;
    padding: 16px;
    background-color: #fff;
    display: block;
    width: 100%;
    font-size: 13px;
    position: relative;
	display: inline-block;
    cursor: pointer;
}

.team__form-column.textarea .team__form-field {
    height: 100%;
}

.team__form-column.textarea .team__form-field textarea {
    height: 100%;
    width: 100%;
    display: block;
    resize: none;
    border: 0;
    padding: 16px;
    font-size: 14px;
    font-family: inherit;
}

.team__form-submit {
    margin: 0 auto;
}


.submit__text {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.contacts__form .submit__text {
    color: #1C1C1C;
}

.submit__text a {
    text-decoration-line: underline;
    color: inherit;
}
.submit__btn button {
    width: 100%;
    display: block;
    color: #373434;
    text-align: center;
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}

.contacts__form .submit__btn button  {
    background-color: #373434;
    border: 0;
    color: #fff;
}

.recomend {
    margin-top: 70px; 
}
.recomend__title {
    margin-bottom: 24px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.recomend__img {
    cursor: zoom-in;
}

.team__item-img {
    flex-shrink: 0;
}

.team__item-img img {
    width: 100%;
    max-width: 100%;
}

@media(max-width: 1200px) {
    .team__item-title {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 16px;
    }

    .partners__flex,
    .team__flex {
        margin: 0 -2%;
    }

    .principle__title,
    .team__title {
        margin-bottom: 50px;
    }

    .principle__item {
        padding-left: 100px;
    }

    .license {
        padding: 40px 0;
    }

    .license__title {
        margin-bottom: 32px;
    }

    .license__flex {
        flex-wrap: wrap;
    }

    .license__content {
        margin: 0;
        max-width: none;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .license__gallery {
        width: 100%;
    }

    .section__title {
        font-size: 20px;
        line-height: 1.25;
    }

    .history__item-year {
        font-size: 32px;
        line-height: 1.25;
    }

    .section__suptitle {
        margin-bottom: 24px;
    }

    .about__title {
        font-size: 40px;
        line-height: 1.25;
    }



    
    .about__nav {
        gap: 25px;
    }
    
    .about__nav li a {
        font-size: 16px;
        line-height: 24px;
    }

    .history__wrap {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: auto;
    }

    .history__title {
        margin-bottom: 50px;
    }

}


@media (max-width: 1100px) {
    .recomend {
        display: none;
    }

    .team__item-img {
        max-width: 224px;
        width: 100%;
        margin-right: 16px;
    }

    .team__item {
        padding: 20px 8px;
    }

    .team__item-text {
        font-size: 12px;
        line-height: 1.3;
    }
    
}


@media(max-width: 930px) {
   
    .team__form-flex {
        margin: -2%;
    }

    .team__form-column {
        padding: 2%;
    }

    .team__form-column {
        width: 50%;
    }

    .team__form-column.textarea {
        width: 100%;
        min-height: 150px;
        order: 1;
    }

    .team__form-submit {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .team__item {
        width: 100%;
    }
    
    .parnters__item {
        padding: 40px 20px;
    }

    .about__nav li:first-of-type a {
        font-size: 0;
        padding-left: 56px;
        width: 0;
    }

    .principle__item-title {
        font-size: 16px;
    }

    .principle__item {
        padding-left: 70px;
    }

    .principle__item-text {
        padding: 0;
        font-size: 12px;
        line-height: 18px;
    }
} 

@media(max-width: 700px) {
    .team__form {
        padding-top: 30px;
    }

    .team__form-title {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .parnters__item {
        width: 100%;
    }

    .parnters__item:nth-child(odd) {
        border-right: none;
    }

    .history__items {
        flex-wrap: wrap;
    }

    .history__item-wrap {
        width: 100%;
        padding-left: 20px;
    }

    .history__item-wrap:not(:last-child) {
        padding-bottom: 16px;
        position: relative;
    }

    .history__item-wrap:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 2.3px;
        top: 15px;
        width: 1px;
        height: 100%;
        background-color: #fff;
        opacity: 0.6;
    }    

    .history__item-year::after {
        left: -23px;
        top: 15px;
    }

    .history__item-year {
        border: 0;
        padding-bottom: 0;
    }

    .history__item-title {
        padding-right: 0;
        max-width: none;
        margin-bottom: 16px;
        min-height: auto;
    }

    .history__item-text {
        max-width: none;
        padding-right: 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about__nav {
        gap: 16px;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 24px 0;
    }

    .about__nav li a {
        font-size: 12px;
        line-height: 18px;
        text-transform: none;
    }

    .about__nav li:first-of-type a::before {
        width: 40px;
        height: 40px;
    }

    .about__nav li:first-of-type a {
        padding-left: 40px;
    }

}

@media(max-width: 550px) {
    .team__form-column {
        width: 100%;
    }

    .team__item-img {
        max-width: 155px;
    }

    .history__title,
    .partners__title {
        margin-bottom: 25px;
    }

    .principle__title,
    .team__title {
        margin-bottom: 25px;
        font-size: 16px;
    }

    .license__title {
        font-size: 14px;
        line-height: 1.25;
    }

    .gallery__item {
        padding: 4px;
    }

    .about__title {
        font-size: 24px;
    }

    .section__suptitle {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 380px) {
    .team__item {
        flex-wrap: wrap;
    }
}

@media (max-width: 358px) {
    .principle__item-title {
        font-size: 14px;
    }
    .about__title {
        font-size: 22px;
    }

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.tabs__links {
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
    margin-right: 32px;
}

.tabs__links li a,
.mob__head button {
    padding: 16px;
    padding-right: 56px;
    color: #FFF;
    font-family: 'RF Dewi';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    display: block;
    line-height: 21px; /* 161.538% */
    max-width: 300px;
    width: 100%;
    position: relative;
    transition: .3s;
    background-color: transparent;
    border: 0;
    text-align: left;
}

.tabs__links li a:hover, 
.tabs__links li.active a,
.mob__head.active button {
    background: rgba(188, 190, 192, 0.30);
}

.tabs__links li a::after,
.mob__head button::after  {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(../img/arrow-tabs.svg);
    background-size: contain;
    transition: .3s;
}

.mob__head.active button::after {
    transform: translateY(-50%) rotate(90deg);
} 

.tabs__flex {
    display: flex;
}

.tabs__content {
    flex-grow: 1;
}
.tabs__content ul {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}


.tabs__content ul li {
    width: 50%;
    padding: 16px;
    color:  #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    max-width: 400px; 
}

.tabs__content ul li a {
    color: inherit;
}

.mob__head {
    display: none;
}

@media (max-width:1200px) {
    .tabs__content ul  {
        margin: -8px;
    }

    .tabs__content ul li {
        padding: 8px;
    }

    .services {
        padding-top: 150px;
    }
}

@media (max-width:930px) {
    .tabs__content ul li {
        width: 100%;
        max-width: none;
        padding-right: 20px;
    }

    .tabs__flex {
        margin: 0 -2%;
    }
}

@media (max-width: 700px) {
    .tabs__links {
        display: none;
    }

    .tabs__flex {
        margin: 0;
    }


    .mob__head {
        display: block;
    }

    .tabs__content ul li {
        padding: 8px;
    }

    .tabs__content ul {
        display: none;
    }

    .services {
        background-size: contain;
        background-position: top;
        background-color: #383435;
    }

    .mob__head {
        margin: 0 -2%;
    }

    .mob__head button {
        max-width: none;
        width: 100%;
    }

    .tabs__content ul {
        background-color: #fff;
        margin: 0 -2%;
    }

    .tabs__content ul li {
        color: #373434;
        padding: 8px 2%;
    }

    
}

.contacts__drop .close {
    top: 80px;
}

.contacts__drop {
    position: absolute;
    background-color: transparent;
    /* transform: translateY(-100%); */
    top: -80px;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 84px;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.contacts__drop.open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}


.contacts__title  {
    font-size: 24px;
    color: #373434;
    font-weight: 400;
    font-family: 'RF Dewi';
    text-transform: uppercase;
}

.contacts__subtitle {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    max-width: 350px;
}

.contacts__top {
    margin-bottom: 84px;
}

.contacts__bottom {
    display: flex;
}

.contacts__form {
    max-width: 400px;
    width: 100%;
    flex-shrink: 0;
    margin-right: 40px;
    padding-top: 16px;
}

.contacts__map {
    flex-grow: 1;
    height: 492px;
    transform: translateX(100%);
    transition: .3s;
}

.contacts__map.open {
    transform: translateX(0);
}

.contacts__map img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form__title {
    color: #1C1C1C;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.form__field textarea {
    border-radius: 2px;
    background: rgba(188, 190, 192, 0.20);
    min-height: 100px;
    display: block;
    width: 100%;
    border: 0;
    resize: none;
    padding: 16px;
    font-family: inherit;
    font-size: 13px;
}

.form__field input {
    font-size: 13px;
    line-height: 24px;
}

.contacts__mob-info {
    display: none;
}

@media(max-width: 930px) {
    .main_menu {
        overflow: auto;
    }

    .contacts__mob-info {
        display: block;
    }

    .contacts__map.open {
        opacity: 0;
        position: absolute;
        top: 347px;   
    }

    .contacts__map.open.mob {
        opacity: 1;
    }

    .contacts__form {
        padding-top: 0;
    }

  
    .contacts__mob-title {
        color: #1C1C1C;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .contacts__mob-flex {
        display: flex;

    }
    .contacts__mob-img {
        max-width: 96px;
        width: 100%;
        margin-right: 16px;
        flex-shrink: 0;
    }

    .contacts__mob-img img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .open__map {
        display: block;
        text-decoration: underline;
    }
    .contacts__mob-links {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 32px;
        margin-top: 8px;
    }

    .contacts__mob-links a {
        color: inherit;
        text-decoration: underline;
        padding-left: 32px;
        position: relative;
        font-size: 13px;
        line-height: 1;
    }

    .contacts__mob-links a::before {
        content: '';
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 50%;  
        transform: translateY(-50%);
    }

    .contacts__mob-links a.mail::before {
        background-image: url(../img/mail-icon.svg);
    }

    .contacts__mob-links a.phone::before {
        background-image: url(../img/phone-icon.svg);
    }

    .contacts__mob-text {
        max-width: 230px;
        color: #373434;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .contacts__form {
        margin-right: 0;
    }

    .contacts__bottom {
        margin: -8px;
    }

    .contacts__drop {
        height: auto;
        padding-bottom: 30px;
        background-image: url(../img/main_menu_bg.jpg);
    }

    .contacts__mob-info,
    .contacts__form {
        width: 50%;
        max-width: none;
        padding: 8px;
    }
}

@media(max-width: 650px) {
    .contacts__top {
        margin-bottom: 30px;
    }

    .contacts__bottom {
        flex-wrap: wrap;
        margin: 0;
    }

    .contacts__mob-info, .contacts__form {
        width: 100%;
        padding: 0;
    }

    .contacts__form {
        margin-top: 32px;
    }

    .contacts__text {
        padding-right: 40px;
    }
}

@media (max-width: 420px) {
    .contacts__title {
        font-size: 18px;
    }
}